

#body {

	background-image: url(../Bootstrap_Portfolio/images/topography.png);
}

.navcolor {
	background-color: #99cc00;
}

.nav.navbar-nav li a {
   color: white;
 }

 .navname {
	font-family: 'Lobster', cursive;
	font-size: 30px;
	color: white;
 }


.logo {
	color: #ff0000;
}

.tacos {
	border-width: 2px;
	border-color: black;
	border-style: solid;
	margin-top: 25px;
	background-color: #e6e6e6;
	 box-shadow: 5px 5px 5px #888888;
	 border-radius: 15px;

}

.tacos2 {
	border-width: 2px;
	border-color: black;
	border-style: solid;
	margin-top: 25px;
	padding-bottom: 15px;
	background-color: #e6e6e6;
	box-shadow: 5px 5px 5px #888888;
	border-radius: 15px;
	text-align: center;
}

.contactpage {
	border-width: 2px;
	border-color: black;
	border-style: solid;
	margin-top: 25px;
	background-color: #e6e6e6;
	 box-shadow: 5px 5px 5px #888888;
	 border-radius: 15px;
	 height: 434px;
	}


hr {
	height: 1px;
	color: #123455;
	background-color: #123455;
}



#profileimage {
	height:200px; 
	width:200px; 
	float: left;
	margin-right: 10px;
	margin-bottom: 5px;
}

.portpic {
	margin-bottom: 10px;
	
}

.container {
  position: relative;
}

.image {

  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 2;
  left: -2;
  right: 2;
 height: 40%;
  width: 90%;
  opacity: 0;
  transition: .5s ease;
  background-color: #99cc00;
}

.contain:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  font-family: 'Lobster', cursive;
  font-size: 25px;
  }

footer {
	padding: 75px;
  clear: both;
  font-size: 12px;
 color: black;
  text-align: center;
	background-image: url(../Bootstrap_Portfolio/images/footerimage.png);
}
