

#body {

	background-image: url(../HW/Basic_Portfolio/topography.png);
}

.navcolor {
	background-color: green;
}


.logo {
	background-color: #4aaaa5;
}

.tacos {
	border-width: 5px;
	border-color: black;
	border-style: solid;
	margin-top: 25px;
}

#profileimage {
	height:200px; 
	width:200px; 
	float: left;
	margin-right: 10px;
	margin-bottom: 5px;
}